*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	display: grid;
	place-content: center;
	width: 100vw;
	height: 100vh;
	background: #ddd;
}

#canvas {
	width: 800px;
	height: 500px;
	background: white;
	box-shadow: #222 0px 0px 0px 10px;
}